<!doctype html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />

		<meta name="version-name" content="${version}">
		<meta name="version-code" content="1">

		<title>${projectName}</title>

		<link rel="shortcut icon" href="images/application.png">

## IF weUI ##
		<link rel="stylesheet" type="text/css" href="libs/weui/dist/style/weui.min.css">
## ELSE ##
## FI weUI ##
		<link rel="stylesheet" type="text/css" href="libs/staple.js/dist/staple.css">
		<link rel="stylesheet" type="text/css" href="application.css">

		<script type="text/javascript" src="libs/babel-polyfill/dist/polyfill.min.js"></script>
## IF jQuery ##
		<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
## ELSE ##
## FI jQuery ##

		<script type="text/javascript" src="libs/requirejs/require.js"
			data-main="libs/staple.js/dist/staple.js"
			data-home="pages/home">
		</script>

	</head>

	<body>
		<div id="staple-indicator" class="staple-indicator staple-active">
## IF weUI ##
			<div class="weui-toast">
				<i class="weui-loading weui-icon_toast"></i>
				<p class="weui-toast__content">正在加载</p>
			</div>
## ELSE ##
## FI weUI ##
		</div>
	</body>

</html>
